/Copy_of_NLP_DeepLearning_AhmadNurusSHolihin (1).ipynb
/dasar_machine_learning.docx
/data_description.txt
/DBS x Dicoding 2024
/flood (kurang tau)
/Modul Fundamental Analisis Data (Menengah)
/Modul Fundamental Deeo Learning (Menengah)